/* Reset */
body {
    background-image: url(images/bg.png);
    background-size: cover;
}

h1, p{
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

/* Components */
.text-white {
    color: white;
}

.wrapper {
    width: fit-content;
    margin: 0 auto;
}

.top-img img {
    display: block;
}

.content {
    background-color: rgb(146, 89, 14);
    max-width: fit-content;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 0 0 rgba(81, 49, 8, 0.844);
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}

.info {
    width: auto;
    line-height: 22px;
}