@import url("reset.css");

body {
  background-color: #dddddd;
}

.bucket-list {
  width: 400px;
  height: 455px;
  margin: 100px auto 0 auto;
  border-radius: 30px;
  background-color: #eeeeee;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.24);
}

.bucket-list__header {
  display: flow-root;
  height: 110px;
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
  border-bottom: 4px solid #dddddd;
}

.bucket-list__title {
  height: 30px;
  margin-top: 40px;
  padding-left: 20px;
  border-left: 10px solid #ff1493;
  font-size: 25px;
  font-weight: 800;
  color: #ff1493;
}

.bucket-list__list-wrapper {
}

.bucket-list__list {
  /* height: 100%; */
  padding: 30px;
  height: calc(100% - 110px - 4px - 30px);
  box-sizing: border-box;
  overflow-y: scroll;
}

.bucket-list__list li {
  height: 46px;
  padding: 10px;
  box-sizing: border-box;
  border: 4px solid #aaaaaa;
  border-radius: 5px;
  background-color: #ffffff;
}

.bucket-list__list li:not(:last-child) {
  margin-bottom: 12px;
}

.bucket-list__list li:nth-child(2) {
  color: #1e91ff;
  border-color: #1e91ff;
}
