@import "reset.css";

:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}



* {
	box-sizing: border-box;
}


.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
	background-color: #51318b;
}

.wrapper {
	width: 1080px;
	margin: 100px auto;
}


.tit-port {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 100px;
}

.tit-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 26%;
	color: #ffffff;
	margin: 0;
	line-height: 1.2;
	font-size: 40px;
	font-weight: 500;
}
.tit-name>span {
	position: relative;
}

.tit-name>span::after {
	content: "";
	height: 50%;
	width: 100%;
	left: 0%;
	background: #ff4500;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.tit-txt {
	color: #a887e1;
	font-size: 14px;
	position: relative;
	padding-left: 110px;
	line-height: 1.6;
}

.tit-txt::before {
	content: "";
	position:absolute;
	top: 50%;
	left: 0%;
	width: 85px;
	height: 2px;
	background-color: #a887e1;
}
.main-section {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-section:nth-child(2n) {
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 24px 0;
}

.img-box {
	position: relative;
	width: 26%;
}



.img-inp {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover; 
	opacity: 0.4;


}
.img-txt {
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	font-size: 30px;
	color: #ffffff; 
}

.main-textbox {
	padding: 24px;
	background-color: #fff;
	width: 74%;
}

.art-tit {
	font-size: 18px; 
	color: #51318b;
	margin-bottom: 25px;
	font-weight: 700;
}

.art-list>li {
	position: relative;
	margin-left: 20px;
	font-size: 14px;
}

.art-list>li:nth-of-type(2n){
	margin-bottom: 15px;
	margin-top: 15px;
}

.art-list>li::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #a887e1;
	top: 50%;
	left: -2%;
	transform: translate(-50%,-50%);
}