/*
  다른건 다 괜찮은 것 같은데
  크기가 140px이 아니고 142px이 나오는게 이상하네요ㅠㅠ
*/

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset */

p {
  margin: initial;
  padding: initial;
}

a {
  text-decoration: none;
  color: initial;
}

/* 스타일 */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

img.logo {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}

article.login__wrapper {
  width: 350px;
  /* 아래 코드로 변경하면 옆으로도 넓어집니다 */
  /* min-width: 350px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; */

  padding: 19px 16px 18px 16px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Spoqa Han Sans Neo";
}

.login__txt {
  margin-bottom: 16px;
}

.login__link {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px 10px 12px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  color: #ffff;
  background-color: #711bff;
  cursor: pointer;
}

.login__bottom {
  overflow: hidden;
  margin-top: 16px;
}

.login__bottom > * span {
  display: inline-block;
  margin-left: 4px;
  color: #767676;
}

.login__icon {
  vertical-align: -3px;
}
