
h1{
    margin: 0;
    padding: 10px 0;
    font-weight: 800;
    color: white;
}

body{
    background-image: url(images/bg.png)
}

.wrapper{
    width: 230px;
    margin: 80px auto auto auto;
}
.image img{
    width: 230px;
    height: auto;
    margin: 0;
    display: block;
}
.contents{
    font-size: 12px;
    color: rgb(215,192,179);
    background-color: rgb(147,87,46);
    padding: 0px 10px 20px 15px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow : 0 10px 0 0 rgb(74, 38, 11);
}