body {
    margin: 0;
    background-image: url(bg.png);
}

h1 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper > img {
    display: block;
    margin: 0px auto;
}

.header {
    background-image: url(green.png);
    background-repeat: no-repeat;
    background-color: rgb(165, 87, 42);
    width: 250px;
    color: white;
    padding: 40px 20px;
    padding-bottom: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    margin: auto;
    margin-top: 10px;

    box-shadow:0 10px rgba(165, 87, 42, 0.438);
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
}