@import "reset.css";


@font-face { 
    font-family: "GmarketSans"; 
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff"); 
    font-weight: bold; 
    font-style: normal; 
    font-display: swap; } 

@font-face { font-family: "GmarketSans"; 
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap; }

* {
    box-sizing: border-box;
}

body {
    background-color: #5B2386;
    font-family: "GmarketSans"; 
}

#app {
    /* position: relative; */
}

.tit-timelaw {
    display: block;
    margin: 0px auto;
    margin-top: 80px;
    text-align: center;
    position: relative;
}



.title-clock {

    display: block;
    margin: 0 auto;
}
.title-img {
    width: 564px;
    height: 112px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.img-txt {
    display: flow-root;
    margin: 0px auto;
    width: 600px;
    margin-top: 40px;

    /* position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0); */
}

.txt-desc {
    text-align: center;
    width: 493px;
    height: 96px;

    background-image: url(./img/quote.png);
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: white;
    margin: 0 auto;
    margin-top: 80px;
}

.tit-desc {
    font-weight: bold;
}

.cont-inp {
    width:765px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.cont-inp p {
    font-size: 24px;
    line-height: 24px;
    color: white;
    margin-top: 40px ;
}

.click-img {
    position: absolute;
    bottom: -20px;
    right: 10px;
}

.cont-inp p input {
    width: 228px;
    height: 57px;
    border-radius: 7px;
    font-size: 24px;
    color: #BABCBE;
    text-align: center;
    padding: 17px 41px 16px 39px;
}

.btn-exc {
    color: #5B2386;
    width: 565px;
    height: 66px;
    padding: 21px 49px;
    font-size: 24px;
    font-weight: 700;
    background-color: #FCEE21;
    border-radius: 56px;
    margin-top: 70px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.cont-result {
    margin: 0 auto;
    text-align: center;
    margin-top: 147px;
}
.txt-time,
.txt-wannabe {
    font-weight: normal;
    font-size: 24px;
    color: white;
}

.txt-wannabe strong {
    font-weight: bold;
    font-size: 72px;
}

.txt-time strong {
    font-weight: bold;
    font-size: 72px;
}

.btn-go {
    background-color: #FCEE21;
    color: #5B2386;
    font-size: 24px;
    font-weight: bold;
    padding: 21px 49px;
    border-radius: 56px;
    margin-top: 100px;
}

.btn-share {
    background-color: white;
    padding: 21px 49px;
    border-radius: 56px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.cont-footer {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 116px;
    text-align: center;
}

.txt-footer {
    margin-top: 20px;
    color: white;
    line-height: normal;
}